@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-nav-bg: #e0e7ee;
  --color-text-primary: #111827;
  --color-border: #e5e7eb;
} 

.dark {
  --color-nav-bg: #0f172a; 
  --color-text-primary: #f9fafb;
  --color-border: #334155;
} 
